{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 text-center">
            <h3 class="mt-2 mb-3">My Reservations</h3>
            <p class="mt-2">Reservations for: <strong>{{ reservation.name }}</strong></p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-sm-12">
            <div class="row d-flex justify-content-center">

                {% for reservation in reservations %}
                <div class="col-md-6 col-lg-4">
                    <ul class="reservation-list text-center" id="{{ reservation.reservation_id }}">
                        <li class="res-item">
                            <h5>Reservation ID : {{ reservation.reservation_id }} </h5>
                        </li>
                        <li class="res-item">Table seats: {{ reservation.table_seats }} </li>
                        <li class="res-item">Time: {{ reservation.time }} </li>
                        <li class="res-iten">Date: <span class="res-date"
                            id="{{ reservation.date_booked }}">{{ reservation.date_booked|date:"d/m/Y"</span>
                        </li>
                        <div class="text-center">
                            <a href="{% url 'edit_reservation' reservation.reservation.id %}"
                                class="btn btn-primary">Edit Reservation</a>
                            <a href="{url 'delete_reservation' reservation.reservation.id %}"
                                class="btn btn-warning">Cancel Reservation</a>
                        </div>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
