@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* General Styling */

body {
    background-color: #000000;
    background-image: linear-gradient( #000000 0%, #052236 64%);
    color: grey;
    font-family: 'Raleway' , sans-serif;
}

h1, h2 {
    color:aliceblue;
}

/* Navbar */

#Main-nav {
    background-color: #951e0e;
}

/* Footer */

footer {
    margin-top: 2%;
    padding-top: 2em;
    background-color: #951e0e;
    background-image: linear-gradient(#052236 0%, #000000 10%);
    display: flex;
    flex-flow:row-rap;
}