@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* General Styling */

body {
    background-color: #000000;
    color: white;
    font-family: 'Raleway' , sans-serif;
}

h1, h2 {
    color:aliceblue;
}

/* Navbar */

#Main-nav {
    background-color: #951e0e;
}

.img-header {
    height: 300px;
    margin: 10px;
}

/* Footer */

footer {
    margin-top: 2%;
    padding-top: 2em;
    background-color: #951e0e;
 
}