{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% load crispy_forms_tags %} 
<!-- Edit Reservation form -->
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h3 class="text-center mt-2 mb-3"> Edit your reservation</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <h4 class="text-center my-3">Reservation ID: {{ reservation.reservation_id }} </h4>
            <form method="POST" class="form group">

                {% csrf_token %} 
                {{ form|crispy }}
                <br>
                <button type="submit" value="post" class="btn btn-dark mb-4"> 
                    Edit Reservation </button>
            </form>
        </div>
    </div>
</div>

{% endblock %} 
