{% extends 'base.html' %}
{% load static %} 
{% block content %} 
{% load crispy_forms_tags %}

<section class="container-fluid">
    <div class="container">
        <div class="row justify-content-md-center">
            <h1 class="m4 text-center">Request a Reservation</h1>
            <div class="col-xs-10 col-sm-6 col-md-8 col-lg-6 col-xl-5">
                <form method="POST" class="reservation-form">
                    {% csrf_token %} 
                    {{ form|crispy }}
                <br>
                <button type="submit" value="post" class="btn btn-dark mb-4">Request Reservation</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %} 