<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Rosie's kitchen</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="https://kit.fontawesome.com/2d05664855.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
</head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<body>
    
    <div class="container-fluid w-100 p-0">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white" id="Main-nav">
            <a class="navbar-brand p-0 mx-4" href="{% url 'home' %}"id="nav-heading">Rosie's Kitchen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="#navbarMenu"
              aria-expanded="false" aria-label="toggle navigation"> 
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'food_menu' %}">Menu</a></li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'reservation' %}">Make a reservation</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navMenuBar" role="button" data-toggle="dropdown" aria-expanded="false" 
                        aria-label="My account">My Account</a>
                        <div class="dropdown-menu" aria-labelledby="navMenuBar">
                            <a class="dropdown-item" href="{% url 'my_reservations' %">My Reservations</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
                    <li><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>

        </nav>
    </div>

    {% block content %}
    {% endblock %}

    <footer id="footer" class="mt-5">
        <div class="container-xl">
            <span class="text-white my-0">Rosie's Kitchen</span>
            <hr>
            <div class="row row-reverse">
                <div class="col-md-4">
                    <h3 class="sub-title">Follow Us</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/" rel="noopener" target="_blank"
                            aria-label="Link to facebook"><i class="fab fa-facebook"></i>Facebook</a></li>
                        <li><a href="https://www.twitter.com/" rel="noopener" target="_blank"
                            aria-label="Link to twitter"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li><a href="https:/www.instagram.com/" rel="noopener" target="_blank"
                            aria-label="Link to instagram"><i class="fab fa-instagram"></i>Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="sub-title">Contact Us</h3>
                    <ul>
                        <li><i class="fas fa-phone"></i> +44(0)7700 900925 </li>
                        <li><i class="fas fa-envelope"></i> info@rosieskitchen.co.uk </li>
                        <li><i class="fas fa-home"></i> 64 Manor Road - Harrow - HA80 2JA </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="sub-title">Opening Times</h3>
                        <p>Mon - Thur: 12pm-9pm <br>
                            Fri - Sat: 12pm-11pm <br>
                            <strong>Sundays: </strong> Closed </p>
                        
                </div>
            </div>
        </div>
     

    </footer>
    
</body>

</html>